.home {
  width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin-top: 20px;
}
.home-result {
  width:200px;
  display: flex;
  flex-direction: column;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}
.home-result img {
  object-fit: cover;
}